.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    text-align: center;
    width: 150px;
}
.idefix{
    width: 150px;
    position: absolute;
    top: 100px;
    left: 600px;
    opacity: 0;
}

.imgLogo:hover{
    .idefix{
        opacity: 1;
    }
    
}

.divMenubutton{
    width: 100%;
    display: flex;
    align-items: start;
}

.menubutton{
    background-color: #fdd90b;
    border-radius: 10px;
    font-size: 1.3rem;
}
