.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    text-align: center;
    width: 9.5rem;
    border-radius: 50%;
}
.idefix{
    margin: auto;
    width: 9.5rem;
    position: absolute;
    top: 100px;
    left: 600px;
    opacity: 0;
}

.imgLogo:hover{
    .idefix{
        opacity: 1;
    }
}


@media (max-width: 788px) {
    
    .idefix {
        top: 10%;
        left: 30%;
    }
}

@media (max-width: 480px) {
    .idefix {
        top: 18%;
        left: 20%;
    }
}

.divMenubutton{
    width: 100%;
    display: flex;
    align-items: start;
}

.menubutton{
    background-color: #fdd90b;
    border-radius: 10px;
    font-size: 1.3rem;
}
