<div>
    <h1>A propos ...</h1>
    <h2>Des créateurs !</h2>
    <p>
        <strong>Pierrick :</strong> Né dans les années 80, je baigne dans l'univers d'Astérix et Obélix depuis que je sais lire. Mon père était un 
        grand lecteur de bandes dessinnées et nous en avions des dizaines à la maison. Les aventures de nos deux héros ont bercées mon enfance,
        inspirant mes fêtes d'anniversaires et mes déguisements de carnaval. <br>
        Après mon BAC littéraire je me suis orienté vers l'art, et plus particulièrement la sculpture. J'ai alors pu explorer non plus qu'avec mes yeux
        mais aussi avec mes mains, l'univers de nos deux gaulois préférés.
    </p>

    <p>
        <strong>Anthony :</strong> Tout comme mon frère je suis passionné depuis petit par le monde Gaulois, en particulier celui où la potion 
        magique existe. Plus "matheux" que Pierrick, j'ai suivi des études de commerce J'ai travailé plusieurs années pour une grande entreprise
        que j'ai quitté quand nous nous sommes lancés dans l'idée folle de vivre de notre passion commune : Astérix et Obélix. <br>
        Nous avons mis nos compétences en commun afin de créer Le Petit Village, une entreprise artisanale qui propose des figurines réalisées et 
        peintes à la main.
    </p>

    <img [src]="imageUrl" [alt]="title">

    <h2>De l'entreprise !</h2>
    <p>
        <strong>Au Petit Village</strong> est donc né d'une passion commune, de l'envie de se reconnecter à cet univers qui a bercé notre enfance.
        Une idée un peu folle et audacieuse qui s'est concrétisée en 2022. <br>
        Aujourd'hui, <strong>Au Petit Village</strong> ce n'est pas moins de 5000 figurines uniques sorties de notre atelier et 14 projets de 
        grande envergure réalisés pour des entreprises et des particuliers.</p> 
    
</div>
