@font-face {
    font-family: 'Bubbleboddy';
    src: url(../public/fonts/Bubbleboddy/Bubbleboddy-FatTrial.woff2), url(../public/fonts/Bubbleboddy/Bubbleboddy-FatTrial.ttf);
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../public/fonts/Comfortaa/Comfortaa-Regular.woff2), url(../public/fonts/Comfortaa/Comfortaa-Regular.woff2), 
    url(../public/fonts/Comfortaa/Comfortaa-Bold.woff2), url(../public/fonts/Comfortaa/Comfortaa-Bold.ttf);
}

*{
    font-family: 'Comfortaa';
    color: #151217;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bubbleboddy';
}

html, body { 
    height: 100%;
}

body { 
    margin: 0
}
